
<!-- contents Start -->
<div id="contents" class="yamaasobu">
    <%- include('./_op.ejs') %>
    <%- include('./_mv.ejs') %>
    <%- include('./_map.ejs') %>
    <%- include('./_how.ejs') %>
    <%- include('./_do.ejs') %>
    <%- include('./_field.ejs') %>
    <%- include('./_weather.ejs') %>
    <%- include('./_foot.ejs') %>
</div>


<script src="https://unpkg.com/swiper@8.4.7/swiper-bundle.min.js"></script>
<!-- 本番に入れる時はjqueryを消す -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- 本番に入れる時はjqueryを消す -->
<script src="<%= rootURL %>/assets/js/index.js"></script>
<script src="<%= rootURL %>/assets/js/swiper.js"></script>