<section class="yamaasobu-do yamaasobu-section" id="do">
    <div class="do-text">
        <h2 class="do-ttl sic" data-text="do">
            <span>d</span><span>o</span>
        </h2>
        <p class="sec-subttl active">
            （　いざ、出発！　）
        </p>
        <div class="do_line">
            <img class="sp" src="<%= rootURL %>/assets/img/line_2.png" alt="">
            <img class="pc" src="<%= rootURL %>/assets/img/pc-line_2.png" alt="">
        </div>
    </div>
    <div class="sec-lead-wrap do-lead-wrap">
        <div class="comment">
            <img src="<%= rootURL %>/assets/img/do_comment.png" alt="">
        </div>
        <p class="sec-lead">
            知ってると当日が安全に、そして<br>
            もっと楽しくなる。1日の過ごし方や時間、<br>
            シチュエーション別のヒントなどを<br>
            紹介しています。
        </p>
    </div>


    <div class="do-swiper swiper">
        <div class="swiper-wrapper do-swiper-wrapper">
            <div class="swiper-slide item">
                <a href="https://www.goldwin.co.jp/store/contents/id/gos-id00002" target="_blank">
                    <div class="new-article sp">
                        <img src="<%= rootURL %>/assets/img/new_icon.gif" alt="">
                        <p class="zen_m">new</p>
                    </div>
                    <p class="howdo-pagenation input">1/2</p>
                    <div class="howdo-photo sp">
                        <img src="<%= rootURL %>/assets/img/do/do-1.png" alt="">
                    </div>
                    <div class="how-swiper-wrap">
                        <div class="new-article pc">
                            <img src="<%= rootURL %>/assets/img/new_icon.gif" alt="">
                            <p class="zen_m">new</p>
                        </div>
                        <p>
                            はじめての日帰り登山
                        </p>
                        <!-- <p class="swiper-date">
                            ( 2025.05.01 update! )
                        </p> -->
                        <p class="swiper-text">
                            気候がおだやかな春は登山にぴったりな季節。今回は、日帰り登山を楽しめるノウハウをお伝えします。
                        </p>
                    </div>
                    <div class="howdo-photo pc">
                        <img src="<%= rootURL %>/assets/img/do/do-1.png" alt="">
                    </div>
                </a>
            </div>
            <div class="swiper-slide item">
                <a href="https://www.goldwin.co.jp/store/contents/id/gos-id00021" target="_blank">
                    <div class="new-article sp">
                        <img src="<%= rootURL %>/assets/img/new_icon.gif" alt="">
                        <p class="zen_m">new</p>
                    </div>
                    <p class="howdo-pagenation input">2/2</p>
                    <div class="sp howdo-photo">
                        <img src="<%= rootURL %>/assets/img/do/do-2.png" alt="">
                    </div>
                    <div class="how-swiper-wrap">
                        <div class="new-article pc">
                            <img src="<%= rootURL %>/assets/img/new_icon.gif" alt="">
                            <p class="zen_m">new</p>
                        </div>
                        <p class="swiper-ttl">
                            はじめての山小屋泊登山      
                        </p>
                        
                        <p class="swiper-text">
                            梅雨が明け、夏本番になるとアルプスなど高山のベストシーズンに。山小屋泊登山のノウハウとおすすめの製品を当日の行程に沿ってご紹介します。
                        </p>
                    </div>
                    <div class="pc howdo-photo">
                        <img src="<%= rootURL %>/assets/img/do/do-2.png" alt="">
                    </div>
                </a>
            </div>
            
            
        </div>
        <!-- 前後の矢印 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
    
</section>