<section class="yamaasobu-do">
    <div class="do-text">
        <h2 class="do-ttl sic">
            do
        </h2>
        <p class="sec-subttl">
            （　いざ、出発！　）
        </p>
        <div class="do_line">
            <img src="<%= rootURL %>/assets/img/line_2.png" alt="">
        </div>
    </div>
    <div class="sec-lead-wrap do-lead-wrap">
        <div class="comment">
            <img src="<%= rootURL %>/assets/img/do_comment.png" alt="">
        </div>
        <p class="sec-lead">
            登山レポ､山行のスケジュール､レコメンドと合わせたオススメウェア､行動中のポイント､楽しみ方を紹介｡
        </p>
    </div>


    <div class="do-swiper swiper">
        <div class="swiper-wrapper do-swiper-wrapper">
            <div class="swiper-slide item">
                <p class="howdo-pagenation">1/4</p>
                <div class="howdo-photo">
                    <img src="<%= rootURL %>/assets/img/dammy_3.png" alt="">
                </div>
                <div class="how-swiper-wrap">
                    <p class="swiper-ttl">
                        日帰り登山の装備
                    </p>
                    <p class="swiper-date">
                        ( 2025.05.01 update! )
                    </p>
                    <p class="swiper-text">
                        電車や車で出かけ、その日中には家に帰って来られる日帰り登山。運動不足の解消や比較的手軽に自然と触れ合いリ…
                    </p>
                </div>
            </div>
            <div class="swiper-slide item">
                <p class="howdo-pagenation">2/4</p>
                <div class="howdo-photo">
                    <img src="<%= rootURL %>/assets/img/dammy_2.jpg" alt="">
                </div>
                <div class="how-swiper-wrap">
                    <p class="swiper-ttl">
                        日帰り登山の装備
                    </p>
                    <p class="swiper-date">
                        ( 2025.05.01 update! )
                    </p>
                    <p class="swiper-text">
                        電車や車で出かけ、その日中には家に帰って来られる日帰り登山。運動不足の解消や比較的手軽に自然と触れ合いリ…
                    </p>
                </div>
            </div>
            <div class="swiper-slide item">
                <p class="howdo-pagenation">3/4</p>
                <div class="howdo-photo">
                    <img src="<%= rootURL %>/assets/img/dammy_1.jpg" alt="">
                </div>
                <div class="how-swiper-wrap">
                    <p class="swiper-ttl">
                        日帰り登山の装備
                    </p>
                    <p class="swiper-date">
                        ( 2025.05.01 update! )
                    </p>
                    <p class="swiper-text">
                        電車や車で出かけ、その日中には家に帰って来られる日帰り登山。運動不足の解消や比較的手軽に自然と触れ合いリ…
                    </p>
                </div>
            </div>
            <div class="swiper-slide item">
                <p class="howdo-pagenation">4/4</p>
                <div class="howdo-photo">
                    <img src="<%= rootURL %>/assets/img/dammy_1.jpg" alt="">
                </div>
                <div class="how-swiper-wrap">
                    <p class="swiper-ttl">
                        日帰り登山の装備
                    </p>
                    <p class="swiper-date">
                        ( 2025.05.01 update! )
                    </p>
                    <p class="swiper-text">
                        電車や車で出かけ、その日中には家に帰って来られる日帰り登山。運動不足の解消や比較的手軽に自然と触れ合いリ…
                    </p>
                </div>
            </div>
        </div>
        <!-- 前後の矢印 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
    
</section>