
<section class="yamaasobu-field yamaasobu-section" id="field">
    <div class="fieldttl sic" data-text="field report">
        <span>f</span><span>i</span><span>e</span><span>l</span><span>d</span> <span>r</span><span>e</span><span>p</span><span>o</span><span>r</span><span>t</span>

    </div>
    <p class="field-subttl active">
        （　行ってきました！　）
    </p>
    <p class="field-txt">
        山遊部の活動報告。スタッフの<br>体験談から一緒に学んでいきましょう。
    </p>


    <div class="field-swiper swiper">
        <div class="swiper-wrapper field-swiper-wrapper">
            <div class="swiper-slide item">
                <a href="https://www.goldwin.co.jp/store/blog/i/?article_id=948966" target="_blank">
                    <div class="field-photo">
                        <img src="<%= rootURL %>/assets/img/field_1.jpg" alt="">
                    </div>
                    <div class="field-swiper-wrap">
                        <p class="swiper-ttl">
                            湖に沈む夕陽と春キャンプ
                        </p>
                        <p class="swiper-text zen_m">
                            5月の北海道は新緑が芽吹き始め、アウトドアに最適な季節です。この日は仲洞爺キャンプ場で、THE NORTH FACEの「ノーチラス 2×2」を使用して一泊キャンプを楽しみました。
                        </p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide item">
                <a href="https://www.goldwin.co.jp/store/blog/i/?article_id=946965" target="_blank">
                    <div class="field-photo">
                        <img src="<%= rootURL %>/assets/img/field_2.jpg" alt="">
                    </div>
                    <div class="field-swiper-wrap">
                        <p class="swiper-ttl">
                            ニセコの春 Part 2【水遊び】 
                        </p>
                        <p class="swiper-text zen_m">
                            初夏の時期になると、ニセコのシャクナゲ岳麓にある沼に、水遊びをしに人々がやってきます。
                        </p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide item">
                <a href="https://www.goldwin.co.jp/store/blog/i/?article_id=943254" target="_blank">
                    <div class="field-photo">
                        <img src="<%= rootURL %>/assets/img/field_3.jpg" alt="">
                    </div>
                    <div class="field-swiper-wrap">
                        <p class="swiper-ttl">
                            赤城山｜標高1828m
                        </p>
                        <p class="swiper-text zen_m">
                            冬が明けて登山しやすい季節になってきました。今年は日本百名山にたくさん挑戦しようという企みがあり、手始めに群馬県にある赤城山（黒檜山・駒ヶ岳）に行ってきました。
                        </p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide item">
                <a href="https://www.goldwin.co.jp/store/blog/i/?article_id=918807" target="_blank">
                    <div class="field-photo">
                        <img src="<%= rootURL %>/assets/img/field_4.jpg" alt="">
                    </div>
                    <div class="field-swiper-wrap">
                        <p class="swiper-ttl">
                            スキーとスノーボード ~2025年2月~
                        </p>
                        <p class="swiper-text zen_m">
                        先日、ニセコエリアの里山に滑りに行ってきたので紹介したいと思います。
                        </p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide item">
                <a href="https://www.goldwin.co.jp/store/blog/i/?article_id=907393" target="_blank">
                    <div class="field-photo">
                        <img src="<%= rootURL %>/assets/img/field_5.jpg" alt="">
                    </div>
                    <div class="field-swiper-wrap">
                        <p class="swiper-ttl">
                            東京都最高峰 【雲取山】
                        </p>
                        <p class="swiper-text zen_m">
                            今回のブログでは、1月中旬に東京都最高峰『雲取山』へテント泊で登った様子をお届けします。
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="swiper-pagination input"></div>
        <!-- 前後の矢印 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>