
<section class="field yamaasobu-section" id="field">
    <div class="fieldttl sic" data-text="field report">
        field report
    </div>
    <p class="field-subttl">
        （　行ってきました！　）
    </p>
    <p class="field-txt">
        登山レポ､山行のスケジュール､<br class="sp">レコメンドと合わせたオススメウェア､<br>行動中のポイント､楽しみ方を紹介｡        
    </p>


    <div class="field-swiper swiper">
        <div class="swiper-wrapper field-swiper-wrapper">
            <div class="swiper-slide item">
            
                <div class="field-photo">
                    <img src="<%= rootURL %>/assets/img/dammy_4.png" alt="">
                </div>
                <div class="field-swiper-wrap">
                    <p class="swiper-ttl">
                        日帰り登山の装備
                    </p>
                    <p class="swiper-text">
                        電車や車で出かけ、その日中には家に帰って来られる日帰り登山。運動不足の解消や比較的手軽に自然と触れ合いリ…
                    </p>
                </div>
            </div>
            <div class="swiper-slide item">
                <div class="field-photo">
                    <img src="<%= rootURL %>/assets/img/dammy_4.png" alt="">
                </div>
                <div class="field-swiper-wrap">
                    <p class="swiper-ttl">
                        日帰り登山の装備
                    </p>
                    <p class="swiper-text">
                        電車や車で出かけ、その日中には家に帰って来られる日帰り登山。運動不足の解消や比較的手軽に自然と触れ合いリ…
                    </p>
                </div>
            </div>
            <div class="swiper-slide item">
                <div class="field-photo">
                    <img src="<%= rootURL %>/assets/img/dammy_4.png" alt="">
                </div>
                <div class="field-swiper-wrap">
                    <p class="swiper-ttl">
                        日帰り登山の装備
                    </p>
                    <p class="swiper-text">
                        電車や車で出かけ、その日中には家に帰って来られる日帰り登山。運動不足の解消や比較的手軽に自然と触れ合いリ…
                    </p>
                </div>
            </div>
            <div class="swiper-slide item">
                <div class="field-photo">
                    <img src="<%= rootURL %>/assets/img/dammy_4.png" alt="">
                </div>
                <div class="field-swiper-wrap">
                    <p class="swiper-ttl">
                        日帰り登山の装備
                    </p>
                    <p class="swiper-text">
                        電車や車で出かけ、その日中には家に帰って来られる日帰り登山。運動不足の解消や比較的手軽に自然と触れ合いリ…
                    </p>
                </div>
            </div>
            <div class="swiper-slide item">
                <div class="field-photo">
                    <img src="<%= rootURL %>/assets/img/dammy_4.png" alt="">
                </div>
                <div class="field-swiper-wrap">
                    <p class="swiper-ttl">
                        日帰り登山の装備
                    </p>
                    <p class="swiper-text">
                        電車や車で出かけ、その日中には家に帰って来られる日帰り登山。運動不足の解消や比較的手軽に自然と触れ合いリ…
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination input"></div>
        <!-- 前後の矢印 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>