<footer class="footer active">
    
    <div class="totop">
        <img src="<%= rootURL %>/assets/img/totop.png" alt="">
    </div>
    <div class="footer-people">
        <img src="<%= rootURL %>/assets/img/footer-people.png" alt="">
    </div>


    <ul class="footer-anchor-list">
        <li class="anchor_map">
            <a href="#map">
                map
            </a>
        </li>
        <li class="anchor_how">
            <a href="#how">
                how
            </a>
        </li>
        <li class="anchor_do">
            <a href="#do">
                do
            </a>
        </li>
        <li class="anchor_field">
            <a href="#field">
                field report
            </a>
        </li>
    </ul>
    <div class="footer-ttl-wrap">
        <p class="footer-subttl">
            登る、知る、遊ぶ｡<br>
            頼りになる山仲間｡        
        </p>
        <p class="footer-ttl">
            <img src="<%= rootURL %>/assets/img/footer-ttl.png" alt="">
        </p>
        
    </div>
    <div class="footer-ill">
        <img class="footer-map" src="<%= rootURL %>/assets/img/map_footer.png" alt="">
        <div class="footer_p">
            <img class="footer-map-p" src="<%= rootURL %>/assets/img/footer_p.png" alt="">
        </div>
    </div>
</footer>