<section class="yamaasobu-how yamaasobu-section" id="how">
    <div class="how-text">
        <div class="how-ttl sic" data-text="how">
            <span>h</span><span>o</span><span>w</span>
        </div>
        <p class="sec-subttl active">
            （　まずは準備から！　）
        </p>
        <div class="how_line">
            <img src="<%= rootURL %>/assets/img/line_1.png" alt="">
        </div>
    </div>
    <div class="sec-lead-wrap how-lead-wrap">
        <div class="comment">
            <img src="<%= rootURL %>/assets/img/how_comment.png" alt="">
        </div>
        <p class="sec-lead">
            パッキングの仕方や持ち物リスト、<br>
            メンテナンスの方法まで、<br>
            登山前後の大事なポイントを記事にしました。
        </p>
    </div>


    <div class="how-swiper swiper">
        <div class="swiper-wrapper how-swiper-wrapper">
            <div class="swiper-slide item">
                <a href="https://www.goldwin.co.jp/store/contents/id/gos-id00001" target="_blank">
                    <div class="new-article sp">
                        <img src="<%= rootURL %>/assets/img/new_icon.gif" alt="">
                        <p class="zen_m">new</p>
                    </div>
                    <p class="howdo-pagenation input">1/2</p>
                    <div class="howdo-photo sp">
                        <img src="<%= rootURL %>/assets/img/how.gif" alt="">
                    </div>
                    <div class="how-swiper-wrap">
                        <div class="new-article pc">
                            <img src="<%= rootURL %>/assets/img/new_icon.gif" alt="">
                            <p class="zen_m">new</p>
                        </div>
                        <p class="swiper-ttl">
                            日帰り登山の装備
                        </p>
                        <!-- <p class="swiper-date">
                            ( 2025.05.01 update! )
                        </p> -->
                        <p class="swiper-text">
                            電車や車で出かけ、その日中には家に帰って来られる日帰り登山。ちょっと登るのが大変ですが、達成感や山頂からのパノラマなどが楽しめる日帰り登山の装備を一緒に見ていきましょう！
                        </p>
                    </div>
                    <div class="howdo-photo pc">
                        <img src="<%= rootURL %>/assets/img/how.gif" alt="">
                    </div>
                </a>
            </div>
            <div class="swiper-slide item">
                <a href="https://www.goldwin.co.jp/store/contents/id/gos-id00012" target="_blank">
                    <div class="new-article sp">
                        <img src="<%= rootURL %>/assets/img/new_icon.gif" alt="">
                        <p class="zen_m">new</p>
                    </div>
                    <p class="howdo-pagenation input">2/2</p>
                    <div class="sp howdo-photo">
                        <img src="<%= rootURL %>/assets/img/how_02.gif" alt="">
                    </div>
                    <div class="how-swiper-wrap">
                        <div class="new-article pc">
                            <img src="<%= rootURL %>/assets/img/new_icon.gif" alt="">
                            <p class="zen_m">new</p>
                        </div>
                        <p class="swiper-ttl">
                            山小屋登山の装備
                        </p>
                        <!-- <p class="swiper-date">
                            ( 2025.05.01 update! )
                        </p> -->
                        <p class="swiper-text">
                            山小屋泊登山の魅力は、日帰り登山では味わえない、夕焼けやご来光といった山々の絶景や小屋での宿泊のひととき。快適で安全な山小屋泊に必要な装備を一緒に見ていきましょう！
                        </p>
                    </div>
                    <div class="pc howdo-photo">
                        <img src="<%= rootURL %>/assets/img/how_02.gif" alt="">
                    </div>
                </a>
            </div>

        </div>
        <!-- 前後の矢印 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>

</section>