<section class="yamaasobu-map yamaasobu-section" id="map">
    <div class="map-text">
        <h2 class="map-ttl sic" data-text="map">
            <span>m</span><span>a</span><span>p</span>
        </h2>
        <p class="sec-subttl ">
            （　目指す場所はここ！　）
        </p>
        <p class="sec-lead ">
            多様な地形で楽しむアクティ<br class="pc">ビティ｡<br class="sp">シチュエーション別<br class="pc">にアイテムを紹介｡<br>
            マップ上で気になる箇所を<br class="pc">チェック！        
        </p>
    </div>
    <div class="map-wrap scrollable-element">
        <div class="map-image">
            <img src="<%= rootURL %>/assets/img/map.png" alt="">
            <div class="cloud cloud-a">
                <img src="<%= rootURL %>/assets/img/cloud-a.png" alt="">
            </div>
            <div class="cloud cloud-b">
                <img src="<%= rootURL %>/assets/img/cloud-b.png" alt="">
            </div>
            <!-- number -->
            <div data-modal="1" class="map-num map-num_1">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_1.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/01.png" alt="">
            </div>
            <div data-modal="2" class="map-num map-num_2">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_2.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/02.png" alt="">
            </div>
            <div data-modal="3" class="map-num map-num_3">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_3.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/03.png" alt="">
            </div>
            <div data-modal="4" class="map-num map-num_4">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_4.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/04.png" alt="">
            </div>
            <div data-modal="5" class="map-num map-num_5">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_5.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/05.png" alt="">
            </div>
            <div data-modal="6" class="map-num map-num_6">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_6.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/06.png" alt="">
            </div>
            <div data-modal="7" class="map-num map-num_7">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_7.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/07.png" alt="">
            </div>
            <div data-modal="8" class="map-num map-num_8">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_8.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/08.png" alt="">
            </div>
            <div data-modal="9" class="map-num map-num_9">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_9.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/09.png" alt="">
            </div>
            <div data-modal="10" class="map-num map-num_10">
                <img class="black-num" src="<%= rootURL %>/assets/img/num/mapnum_10.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/num/10.png" alt="">
            </div>
            <!-- people -->
             <div class="people sun">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/sun.png" alt="">
             </div>
             <div class="people people1-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/01-a.png" alt="">
             </div>
             <div class="people people1-b">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/01-b.png" alt="">
             </div>
             <div class="people people2-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/02-a.png" alt="">
             </div>
             <div class="people people2-b">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/02-b.png" alt="">
             </div>
             <div class="people people3-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/03-a.png" alt="">
             </div>
             <div class="people people3-b">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/03-b.png" alt="">
             </div>
             <div class="people people3-c">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/03-c.png" alt="">
             </div>
             <div class="people people4-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/04-a.png" alt="">
             </div>
             <div class="people people4-b">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/04-b.png" alt="">
             </div>
             <div class="people people4-c">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/04-c.png" alt="">
             </div>
             <div class="people people4-d">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/04-d.png" alt="">
             </div>
             <div class="people people5-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/05-a.png" alt="">
             </div>
             <div class="people people5-b">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/05-b.png" alt="">
             </div>
             <div class="people people6-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/06-a.png" alt="">
             </div>
             <div class="people people6-b">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/06-b.png" alt="">
             </div>
             <div class="people people6-c">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/06-c.png" alt="">
             </div>
             <div class="people people6-d">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/06-d.png" alt="">
             </div>
             <div class="people people7-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/07-a.png" alt="">
             </div>
             <div class="people people7-b">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/07-b.png" alt="">
             </div>
             <div class="people people8-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/08-a.png" alt="">
             </div>
             
             <div class="people people9-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/09-a.png" alt="">
             </div>
             <div class="people people9-b">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/09-b.png" alt="">
             </div>
             <div class="people people10-a">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/10-a.png" alt="">
             </div>
             <div class="people people10-b">
                <img class="black-num" src="<%= rootURL %>/assets/img/people/10-b.png" alt="">
             </div>
        </div>
    </div>

</section>