<section class="yamaasobu-map">
    <div class="map-text">
        <h2 class="map-ttl sic">
            map
        </h2>
        <p class="sec-subttl active">
            （　目指す場所はここ！　）
        </p>
        <p class="sec-lead">
            多様な地形で楽しむアクティビティ｡<br>
            シチュエーション別にアイテムを紹介｡<br>
            マップ上で気になる箇所をチェック！        
        </p>
    </div>
    <div class="map-wrap scrollable-element">
        <div class="map-image">
            <img src="<%= rootURL %>/assets/img/map.png" alt="">
        </div>
        <div class="map-num map-num_1">
            <img src="<%= rootURL %>/assets/img/mapnum_1.png" alt="">
        </div>
        <div class="map-num map-num_2">
            <img src="<%= rootURL %>/assets/img/mapnum_2.png" alt="">
        </div>
        <div class="map-num map-num_3">
            <img src="<%= rootURL %>/assets/img/mapnum_3.png" alt="">
        </div>
        <div class="map-num map-num_4">
            <img src="<%= rootURL %>/assets/img/mapnum_4.png" alt="">
        </div>
        <div class="map-num map-num_5">
            <img src="<%= rootURL %>/assets/img/mapnum_5.png" alt="">
        </div>
        <div class="map-num map-num_7">
            <img src="<%= rootURL %>/assets/img/mapnum_7.png" alt="">
        </div>
        <div class="map-num map-num_8">
            <img src="<%= rootURL %>/assets/img/mapnum_8.png" alt="">
        </div>
        <div class="map-num map-num_9">
            <img src="<%= rootURL %>/assets/img/mapnum_9.png" alt="">
        </div>
        <div class="map-num map-num_10">
            <img src="<%= rootURL %>/assets/img/mapnum_10.png" alt="">
        </div>
    </div>

</section>