<section class="yamaasobu-map yamaasobu-section" id="map">
    <div class="map-text">
        <h2 class="map-ttl sic" data-text="map">
            map
        </h2>
        <p class="sec-subttl active">
            （　目指す場所はここ！　）
        </p>
        <p class="sec-lead">
            多様な地形で楽しむアクティ<br class="pc">ビティ｡<br class="sp">シチュエーション別<br class="pc">にアイテムを紹介｡<br>
            マップ上で気になる箇所を<br class="pc">チェック！        
        </p>
    </div>
    <div class="map-wrap scrollable-element">
        <div class="map-image">
            <img src="<%= rootURL %>/assets/img/map.png" alt="">
            <div class="cloud cloud-a">
                <img src="<%= rootURL %>/assets/img/cloud-a.png" alt="">
            </div>
            <div class="cloud cloud-b">
                <img src="<%= rootURL %>/assets/img/cloud-b.png" alt="">
            </div>
            <div data-modal="1" class="map-num map-num_1">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_1.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/01.png" alt="">
            </div>
            <div data-modal="2" class="map-num map-num_2">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_2.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/02.png" alt="">
            </div>
            <div data-modal="3" class="map-num map-num_3">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_3.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/03.png" alt="">
            </div>
            <div data-modal="4" class="map-num map-num_4">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_4.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/04.png" alt="">
            </div>
            <div data-modal="5" class="map-num map-num_5">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_5.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/05.png" alt="">
            </div>
            <div data-modal="6" class="map-num map-num_6">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_6.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/06.png" alt="">
            </div>
            <div data-modal="7" class="map-num map-num_7">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_7.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/07.png" alt="">
            </div>
            <div data-modal="8" class="map-num map-num_8">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_8.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/08.png" alt="">
            </div>
            <div data-modal="9" class="map-num map-num_9">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_9.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/09.png" alt="">
            </div>
            <div data-modal="10" class="map-num map-num_10">
                <img class="black-num" src="<%= rootURL %>/assets/img/mapnum_10.png" alt="">
                <img class="red-num" src="<%= rootURL %>/assets/img/10.png" alt="">
            </div>
        </div>
    </div>

</section>