<div class="yamaasobu_modal_content modal_2">
    <div class="modal-head">
        <p class="map-point-num input">
            02
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill2.png" alt="">
            <div class="map-point-people map-point-people1">
                <img src="<%= rootURL %>/assets/img/people/02-a.png" alt="">
            </div>
            <div class="map-point-people map-point-people2">
                <img src="<%= rootURL %>/assets/img/people/02-b.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            日帰り登山	
        </p>
        <p class="situation_en zen_r">
            Day Hiking
        </p>
        <p class="map-posint-txt zen_r">
            日帰り登山は、その日のうちに家に帰ることを前提とした最もポピュラーなハイキングスタイルです。装備を軽量化でき、テントや寝袋が不要なため、初心者にも始めやすいのが特徴です。2時間の軽いハイクから12時間の本格的な山行まで幅広く楽しめます。天候や体力に応じて柔軟にプランを調整でき、様々な山域を効率よく楽しめるのも魅力の一つ。基本装備と安全対策をしっかり準備して、気軽に山の世界を体験してみましょう。
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    レインウェア
                </span>
                <span>
                    rain wear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPJ12502" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_rain1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ウーロストレックライトジャケット<br>(キッズ)</p>
                        <p class="item-price input">¥17,600</p>
                    </a>
                </li>
                <li>
                    <div class="item-point zen_m">
                        <p>軽量・コンパクト</p>
                    </div>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPJ12503" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_rain2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ウーロストレックライトパンツ<br>(キッズ)</p>
                        <p class="item-price input">¥13,200</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPJ12504" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ベンチャージャケット<br>(キッズ)</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPJ12521" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ツリーフロッグコート<br>(キッズ)</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPT12512" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_rain5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ドラーレインテックスエリカ<br>(キッズ)</p>
                        <p class="item-price input">¥12,100</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPB12501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_rain6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">レインポンチョ<br>(ベビー)</p>
                        <p class="item-price input">¥13,200</p>
                    </a>
                </li>
            </ul>
            
            
        </div>

        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPJ22220" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">スワローテイルジャケット<br>(キッズ)</p>
                        <p class="item-price input">¥10,780</p>
                    </a>
                </li>
                <li>
                    <div class="item-point zen_m">
                        <p>軽量・コンパクト</p>
                    </div>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPJ2551" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">TNFビーフリージャケット<br>(キッズ)</p>
                        <p class="item-price input">¥13,200</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPJ22510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_outer3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">コンパクトジャケット<br>(キッズ)</p>
                        <p class="item-price input">¥9,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPT22510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_outer4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">トドラーレインテックスエリカ<br>(キッズ)</p>
                        <p class="item-price input">¥9,350</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPB22510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_outer5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">コンパクトジャケット<br>(ベビー)</p>
                        <p class="item-price input">¥8,800</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPB22511" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_outer6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ノベルティコンパクトジャケット<br>(ベビー)</p>
                        <p class="item-price input">¥9,900</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTJ12508" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_tops1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ロングスリーブフラッシュドライスリーディークルー<br>(キッズ)</p>
                        <p class="item-price input">¥7,150</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTJ12509" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_tops2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブフラッシュドライスリーディークルー<br>(キッズ)</p>
                        <p class="item-price input">¥6,600</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPJ22472" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">モビリティークルー<br>(キッズ)</p>
                        <p class="item-price input">¥8,800</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTJ32507" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブポイントグラフィックティー<br>(キッズ)</p>
                        <p class="item-price input">¥4,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPT22572" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_tops5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">トドラーモビリティークルー<br>(キッズ)</p>
                        <p class="item-price input">¥8,250</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTT32575" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_tops6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">トドラ―ショートスリーブドットモテッドグラフィックティー<br>(キッズ)</p>
                        <p class="item-price input">¥4,730</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBJ32506" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">マウンテンイージーパンツ<br>(キッズ)</p>
                        <p class="item-price input">¥9,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBT32506" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ドラーマウンテンイージーパンツ<br>(キッズ)</p>
                        <p class="item-price input">¥9,350</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBJ32501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">バーパパンツ<br>(キッズ)</p>
                        <p class="item-price input">¥10,450</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBT32501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">トドラーバーパパンツ<br>(キッズ)</p>
                        <p class="item-price input">¥9,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBT32571" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bottom5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">トドラーモビリティーパンツ<br>(キッズ)</p>
                        <p class="item-price input">¥9,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBJ42305" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bottom6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">モビリティーショート<br>(キッズ)</p>
                        <p class="item-price input">¥6,050</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    シューズ
                </span>
                <span>
                    shoes
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFJ02301" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_shoes1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ファストパック ミッドウォーターブルーフ<br>(キッズ)</p>
                        <p class="item-price input">¥11,990</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFJ02300" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_shoes4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ファストパック ウォーターブルーフ<br>(キッズ)</p>
                        <p class="item-price input">¥9,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFJ52441" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_shoes3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">グラバル スリッポン<br>(キッズ)</p>
                        <p class="item-price input">¥8,580</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NNJ82330" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_shoes4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">トレッキング クルー<br>(キッズ)</p>
                        <p class="item-price input">¥1,430</p>
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NMJ72357" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">テルス20<br>(キッズ)</p>
                        <p class="item-price input">¥16,830</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NMJ72360" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">スモールデイ<br>(キッズ)</p>
                        <p class="item-price input">¥10,450</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NMJ72361" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ホームスライス<br>(キッズ)</p>
                        <p class="item-price input">¥8,030</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/MM62365" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ポッサム</p>
                        <p class="item-price input">¥51,700</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NNJ02310" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">バーブキャップ<br>(キッズ)</p>
                        <p class="item-price input">¥4,840</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NNJ02404" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">モビリティーキャップ<br>(キッズ)</p>
                        <p class="item-price input">¥4,840</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NNJ02520" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ホライズンハット<br>(キッズ)</p>
                        <p class="item-price input">¥5,280</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NNJ02521" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">サンシールドハット<br>(キッズ)</p>
                        <p class="item-price input">¥5,940</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NNJ02522" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_accessory5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ベントメッシュハット<br>(キッズ)</p>
                        <p class="item-price input">¥5,500</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NNJ82330" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_2/modal2_accessory6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">トレッキング クルー<br>(キッズ)</p>
                        <p class="item-price input">¥1,430</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
    </div>
</div>