<div class="yamaasobu_modal_content modal_3">
    <div class="modal-head">
        <p class="map-point-num input">
            03
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill3.png" alt="">
            <div class="map-point-people map-point-people1">
                <img src="<%= rootURL %>/assets/img/people/03-a.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            山小屋泊登山	
        </p>
        <p class="situation_en zen_r">
            Mountain Hut Accommodation
        </p>
        <p class="map-posint-txt zen_r">
            テント泊登山は、必要な装備をすべて背負って山に入り、テントで一夜を過ごすスタイルです。日帰りでは味わえない山の静寂や満天の星空を楽しめるのが魅力。装備選びが重要で、軽量かつ機能的なテントや寝袋、調理器具が必要になります。初心者の方は、まず設営しやすい場所から始めて、徐々に技術を身につけていきましょう。適切な装備と計画で、山での特別な時間を安全に楽しむことができます。
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    レインウェア
                </span>
                <span>
                    rain wear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <ul class="yamaasobu_modal_item-list">
                    <li>
                        <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12306" target="_blank">
                            <div class="clothes-ph">
                                <img src="<%= rootURL %>/assets/img/modal_3/modal3_rain1.jpg" alt="">
                            </div>
                            <p class="item-name zen_b">ベンチャージャケット<br>(メンズ)</p>
                            <p class="item-price input">¥18,700</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12306" target="_blank">
                            <div class="clothes-ph">
                                <img src="<%= rootURL %>/assets/img/modal_3/modal3_rain2.jpg" alt="">
                            </div>
                            <p class="item-name zen_b">ベンチャージャケット<br>(レディース)</p>
                            <p class="item-price input">¥18,700</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12401" target="_blank">
                            <div class="clothes-ph">
                                <img src="<%= rootURL %>/assets/img/modal_3/modal3_rain3.jpg" alt="">
                            </div>
                            <p class="item-name zen_b">フューチャーライトドリズルジャケット<br>(メンズ)</p>
                            <p class="item-price input">¥30,800</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12401" target="_blank">
                            <div class="clothes-ph">
                                <img src="<%= rootURL %>/assets/img/modal_3/modal3_rain4.jpg" alt="">
                            </div>
                            <p class="item-name zen_b">フューチャーライトドリズルジャケット<br>(レディース)</p>
                            <p class="item-price input">¥30,800</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12307" target="_blank">
                            <div class="clothes-ph">
                                <img src="<%= rootURL %>/assets/img/modal_3/modal3_rain5.jpg" alt="">
                            </div>
                            <p class="item-name zen_b">ノベルティベンチャージャケット<br>(メンズ)</p>
                            <p class="item-price input">¥22,550</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12375" target="_blank">
                            <div class="clothes-ph">
                                <img src="<%= rootURL %>/assets/img/modal_3/modal3_rain6.jpg" alt="">
                            </div>
                            <p class="item-name zen_b">ストライクトレイルパンツ<br>(ユニセックス)</p>
                            <p class="item-price input">¥18,700</p>
                        </a>
                    </li>
                </ul>
                
                
            </ul>
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP22202" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">スワローテイルフーディ<br>(メンズ)</p>
                        <p class="item-price input">¥17,600</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW22202" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">スワローテイルフーディ<br>(レディース)</p>
                        <p class="item-price input">¥17,600</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NR12302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_outer3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ラッスルキャノピーシャツ<br>(メンズ)</p>
                        <p class="item-price input">¥18,700</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NRW12501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_outer4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ハイカーズシャツ<br>(レディース)</p>
                        <p class="item-price input">¥20,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NL72404" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_outer5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">マウンテンバーサマイクロジャケット<br>(メンズ)</p>
                        <p class="item-price input">¥14,850</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NLW72404" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_outer6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">マウンテンバーサマイクロジャケット<br>(レディース)</p>
                        <p class="item-price input">¥14,850</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12203" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_tops1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ロングスリーブフラッシュドライスリーディークルー<br>(メンズ)</p>
                        <p class="item-price input">¥8,140</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12203" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_tops2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ロングスリーブフラッシュドライスリーディークルー<br>(レディース)</p>
                        <p class="item-price input">¥8,140</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12205" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブフラッシュドライスリーディーティー<br>(ユニセックス)</p>
                        <p class="item-price input">¥8,140</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12208" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ウィンドフローティー<br>(レディース)</p>
                        <p class="item-price input">¥7,480</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_tops5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブハイカーズティー<br>(メンズ)</p>
                        <p class="item-price input">¥8,800</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12511" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_tops6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">スリーブレスハイカーズクルー<br>(レディース)</p>
                        <p class="item-price input">¥7,480</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32311" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ドーロライトパンツ<br>(メンズ)</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32311" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">リッジライトパンツ<br>(レディース)</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32202" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ビューポイントパンツ<br>(メンズ)</p>
                        <p class="item-price input">¥16,500</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">マウンテンカラーパンツ<br>(レディース)</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB42302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bottom5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ラッスルショーツ<br>(メンズ)</p>
                        <p class="item-price input">¥14,300</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW42501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bottom6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">マウンテンカラーショーツ<br>(レディース)</p>
                        <p class="item-price input">¥10,450</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    シューズ
                </span>
                <span>
                    shoes
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF52410" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_shoes1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">クレストン ハイク ウォータープルーフ<br>(メンズ)</p>
                        <p class="item-price input">¥20,790</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW52410" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_shoes2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">クレストン ハイク ウォータープルーフ<br>(レディース)</p>
                        <p class="item-price input">¥20,790</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02513" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_shoes3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">オフトレイル バーサ<br>(メンズ)</p>
                        <p class="item-price input">¥17,600</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW52321" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_shoes4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">クレストン ハイク ミッド ウォータープルーフ<br>(レディース)</p>
                        <p class="item-price input">¥21,890</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62369" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">テルス25</p>
                        <p class="item-price input">¥22,000</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62372" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ウラノス25</p>
                        <p class="item-price input">¥25,850</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62375" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ノーム18</p>
                        <p class="item-price input">¥20,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62374" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ノーム28</p>
                        <p class="item-price input">¥30,800</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02503" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">パーブライトキャップ<br>(ユニセックス)</p>
                        <p class="item-price input">¥6,820</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02507" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ハイカーズハット<br>(ユニセックス)</p>
                        <p class="item-price input">¥6,600</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN62304" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">L1プラスガイドシェルグローブ<br>(ユニセックス)</p>
                        <p class="item-price input">¥9,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN12203" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ハイカーズグローブ<br>(ユニセックス)</p>
                        <p class="item-price input">¥4,180</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82422" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ハイカーズ クルー<br>(ユニセックス)</p>
                        <p class="item-price input">¥3,300</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82520" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ハイカーズ アンクル<br>(ユニセックス)</p>
                        <p class="item-price input">¥3,080</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アンダーウェア
                </span>
                <span>
                    underwear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NU62402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_under1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブドライクルー<br>(メンズ)</p>
                        <p class="item-price input">¥4,620</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW62402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_3/modal3_under2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブドライクルー<br>(レディース)</p>
                        <p class="item-price input">¥4,620</p>
                    </a>
                </li>
            </ul>
            
            
        </div>
        
    </div>
</div>