<div class="yamaasobu_modal_content modal_8">
    <div class="modal-head">
        <p class="map-point-num input">
            08
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill8.png" alt="">
            <div class="map-point-people">
                <img src="<%= rootURL %>/assets/img/people/08-a.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            クライミング
        </p>
        <p class="situation_en zen_r">
            Rock Climbing
        </p>
        <p class="map-posint-txt zen_r">
            クライミングは岩壁を登る技術的なアクティビティで、体力と技術、そして精神力が試されます。基本的な用語として、ルート（登攀経路）、ビレイ（確保）、アンカー（支点）などがあります。室内のクライミングジムから屋外の自然岩まで、様々な環境で楽しめます。グレードシステムにより難易度が分類され、初心者から上級者まで自分のレベルに応じた挑戦が可能です。適切な装備と技術習得により、垂直世界での達成感を味わうことができます。
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>


        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NW62316" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ラリーオンロッククルー<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥19,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NW62315" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ラリーオンロッククルー<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥19,800
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT5305" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ディタミネーションパンツ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT5304" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ディタミネーションショーツ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥13,200
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB5304" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            コットンクロスクライミングパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW5304" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            コットンクロスクライミングパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB5303" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bottom5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            コットンクロスクライミングショーツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥13,200
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW5303" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bottom6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            コットンクロスクライミングショーツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥13,200
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62361" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            シンダー55
                        </p>
                        <p class="item-price input">
                            ¥31,570
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62364" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ルートロケット16
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62362" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            BCボルダーチョークバッグ
                        </p>
                        <p class="item-price input">
                            ¥6,930
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62363" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ループチョークバッグ
                        </p>
                        <p class="item-price input">
                            ¥4,950
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62365" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ビレイヤーグローブ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥8,800
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62365" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ビレイヤーグローブ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥8,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62366" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ヘルメットバッグ
                        </p>
                        <p class="item-price input">
                            ¥5,060
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62367" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クライミングプロテクトブリスター<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥1,320
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62368" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_8/modal8_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            モンキーマジック クライミングプロテクトブリスター<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥1,430
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
    </div>
</div>