<div class="yamaasobu_modal_content modal_5">
    <div class="modal-head">
        <p class="map-point-num input">
            05
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill5.png" alt="">
            <div class="map-point-people map-point-people1">
                <img src="<%= rootURL %>/assets/img/people/05-a.png" alt="">
            </div>
            <div class="map-point-people map-point-people2">
                <img src="<%= rootURL %>/assets/img/people/05-b.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            親子ハイク
        </p>
        <p class="situation_en zen_r">
            Family Hiking
        </p>
        <p class="map-posint-txt zen_r">
            親子ハイクは、お子さんと一緒に自然を楽しむ素晴らしいアクティビティです。年齢に応じたコース選びが大切で、3-6歳なら4時間以内、6-10歳なら5時間程度が目安となります。子どもたちにとって、岩や木、水辺での発見は最高の冒険です。安全な装備と十分な休憩、そして子どもの興味を引く工夫があれば、家族みんなで山の魅力を共有できます。無理をせず、子どものペースに合わせて楽しい思い出を作りましょう。
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    レインウェア
                </span>
                <span>
                    rain wear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12503" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_rain1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンラウンダージャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥42,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12504" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_rain2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンラウンダーパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥29,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥30,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥18,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ハイカーズジャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥53,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クライムライトジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥50,600
                        </p>
                    </a>
                </li>
            </ul>
            
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP22202" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スワローテイルフーディ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW22401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンソフトシェルフーディ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NYW82313" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_outer3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            サンダーラウンドネックジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥31,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NY82206" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_outer4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ベントリックスジャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥28,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NY82204" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_outer5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ベントリックスベスト<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥25,850
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NLW72404" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_outer6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンパーサマイクロジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥14,850
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12201" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_tops1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディージップアップ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥9,240
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12202" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_tops2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブフラッシュドライスリーディージップアップ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12203" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディークルー<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12204" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブフラッシュドライスリーディークルー<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥7,590
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT62205" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オルタイムウォームクルー<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥9,020
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW62205" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オルタイムウォームクルー<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥9,020
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            バーブパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32502" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            バーブライトスリムパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB42501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンカラーショーツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥10,450
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンカラーパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥15,400
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32405" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bottom5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            カルカパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥8,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NLW72405" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bottom6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンパーサマイクロパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥12,100
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    シューズ
                </span>
                <span>
                    shoes
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF52321" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_shoes1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クレストン ハイク ミッド ウォータープルーフ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥21,890
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW52321" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_shoes2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クレストン ハイク ミッド ウォータープルーフ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥21,890
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02512" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_shoes3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オフトレイル ハイク ゴアテックス<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥26,400
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW02511" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_shoes4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オフトレイル ハイク ミッド ゴアテックス<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥29,700
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62368" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            テルス35
                        </p>
                        <p class="item-price input">
                            ¥25,850
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62371" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ウラノス35
                        </p>
                        <p class="item-price input">
                            ¥31,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62373" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ノーム38
                        </p>
                        <p class="item-price input">
                            ¥33,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62374" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ノーム28
                        </p>
                        <p class="item-price input">
                            ¥30,800
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02502" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ゴアテックスライトハット<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥8,250
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02506" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ハイカーズキャップ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥6,380
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN12203" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ハイカーズグローブ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥4,180
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN62344" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            イーチップグローブ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥6,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82422" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_accessory5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ハイカーズクルー<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥3,300
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82325" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_accessory6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            トレッキングミッドウエイトクルー<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥2,200
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アンダーウェア
                </span>
                <span>
                    anderwear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NU62401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_under1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブドライクルー<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥5,280
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW62402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_under2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブドライクルー<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥4,620
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NU62403" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_under3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ドライトラウザーズ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥5,280
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW82206" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_5/modal5_under4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オルタイムウォームトラウザーズ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥8,800
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
    </div>
</div>