<div class="yamaasobu_modal_content modal_7">
    <div class="modal-head">
        <p class="map-point-num input">
            07
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill7.png" alt="">
            <div class="map-point-people map-point-people1">
                <img src="<%= rootURL %>/assets/img/people/07-a.png" alt="">
            </div>
            <div class="map-point-people map-point-people2">
                <img src="<%= rootURL %>/assets/img/people/07-b.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            富士山
        </p>
        <p class="situation_en zen_r">
            Mount Fuji Climbing
        </p>
        <p class="map-posint-txt zen_r">
            富士山登山は日本最高峰への挑戦で、7月初旬から9月中旬が公式登山シーズンです。4つの登山道があり、最も人気の吉田ルートでは1日4000人の制限が設けられています。2025年からは登山料金4000円が必須となり、事前予約システムも導入されます。「弾丸登山」は危険なため避け、山小屋での休息を含めた計画的な登山が推奨されています。適切な装備と体力準備で、日本一の山頂からの絶景を安全に楽しみましょう。
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    レインウェア
                </span>
                <span>
                    rain wear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_rain1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルジャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥30,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_rain2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥18,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥30,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥18,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_rain5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ハイカーズジャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥53,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12503" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_rain6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンラウンダージャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥42,900
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NY82312" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            サンダージャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥33,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NYW82312" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            サンダージャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥33,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NY82206" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_outer3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ペントリックスジャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥28,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NYW82206" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_outer4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ペントリックスジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥28,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP22401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_outer5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンソフトシェルフーディ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW22401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_outer6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンソフトシェルフーディ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12201" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_tops1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディージップアップ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥9,240
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12201" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_tops2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディージップアップ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥9,240
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12203" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディークルー<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12203" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディークルー<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12202" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_tops5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブフラッシュドライスリーディージップアップ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12205" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_tops6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブフラッシュドライスリーディー<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32301" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アルパインライトパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アルパインライトパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            パープパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            パープパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bottom5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンカラーパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥15,400
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bottom6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンカラーパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥15,400
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    シューズ
                </span>
                <span>
                    shoes
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02511" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_shoes1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オフトレイル ハイクミッド ゴアテックス<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥29,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW02511" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_shoes2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オフトレイル ハイクミッド ゴアテックス<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥29,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF52321" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_shoes3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クレストン ハイク ミッド ウォーターブルーフ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥21,890
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW52321" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_shoes4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クレストン ハイク ミッド ウォーターブルーフ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥21,890
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62374" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ノーム28
                        </p>
                        <p class="item-price input">
                            ¥30,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62369" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            テルス25
                        </p>
                        <p class="item-price input">
                            ¥22,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62372" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ウラノス25
                        </p>
                        <p class="item-price input">
                            ¥25,850
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62368" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            テルス35
                        </p>
                        <p class="item-price input">
                            ¥25,850
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02505" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            サンシールドキャップ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥8,250
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02504" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            サンシールドハット<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥8,580
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN62344" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            イーチップグローブ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥6,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN22403" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            トレッカーズゲイター
                        </p>
                        <p class="item-price input">
                            ¥11,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN22404" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ハイベントショートゲイター
                        </p>
                        <p class="item-price input">
                            ¥7,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82324" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            トレッキングデュラブルウール<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥3,080
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アンダーウェア
                </span>
                <span>
                    underwear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW62401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_under1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブドライクルー<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥5,280
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NU62402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_under2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブドライクルー<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥4,620
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NU62403" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_under3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ドライトラウザーズ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥5,280
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW62403" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_7/modal7_under4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ドライトラウザーズ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥5,280
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
    </div>
</div>