<div class="yamaasobu_modal_content modal_6">
    <div class="modal-head">
        <p class="map-point-num input">
            06
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill6.png" alt="">
            <div class="map-point-people map-point-people1">
                <img src="<%= rootURL %>/assets/img/people/06-c.png" alt="">
            </div>
            <div class="map-point-people map-point-people2">
                <img src="<%= rootURL %>/assets/img/people/06-d.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            トレイルランニング	
        </p>
        <p class="situation_en zen_r">
            Trail Running
        </p>
        <p class="map-posint-txt zen_r">
            トレイルランニングは、自然環境の中で行う歩行競技で、舗装路の割合は全体の20%以下に制限されています。山や森、砂漠など多様な地形を走り抜ける爽快感が魅力です。セルフサフィシエンシー（自立性）が重要で、エイドステーション間は自分で必要な装備を携行します。コースの難易度はXXSからXXLまで7段階に分類され、距離と標高差の組み合わせで決まります。適切な装備と段階的なトレーニングで、自然と一体になった走りを楽しむことができます。

        </p>
    </div>

 
    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    レインウェア
                </span>
                <span>
                    rain wear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_rain1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クライムライトジャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥50,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12502" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_rain2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クライムライトジップパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥34,100
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ハイカーズジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥53,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12511" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ハイカーズシェルパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥36,300
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12503" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_rain5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンラウンダージャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥42,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12503" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_rain6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンラウンダージャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥42,900
                        </p>
                    </a>
                </li>
            </ul>
            
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP22401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンソフトシェルフーディ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW22401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンソフトシェルフーディ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NR12501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_outer3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ハイカーズシャツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥20,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NRW12302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_outer4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ラッスルキャノピーシャツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥18,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NY82312" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_outer5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            サンダージャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥33,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NYW82206" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_outer6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ベントリックスジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥28,600
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12201" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_tops1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディージップアップ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥9,240
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12202" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_tops2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブフラッシュドライスリーディージップアップ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12203" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディークルー<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12205" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブフラッシュドライスリーディーティー<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_tops5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブハイカーズティー<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥8,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_tops6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブハイカーズティー<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥8,800
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32301" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アルパインライトパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アルパインライトパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            パープパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB42212" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            パープショーツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥11,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW42302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bottom5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ラッスルショーツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥14,300
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NL72405" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bottom6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンバーサマイクロパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥12,100
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    シューズ
                </span>
                <span>
                    shoes
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02511" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_shoes1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オフトレイル ハイク ミッド ゴアテックス<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥29,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW02511" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_shoes2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オフトレイル ハイク ミッド ゴアテックス<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥29,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF52320" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_shoes3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クレストン ミッド ネオ フューチャーライト<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥28,930
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW52320" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_shoes4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クレストン ミッド ネオ フューチャーライト<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥28,930
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62500" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ミューア60
                        </p>
                        <p class="item-price input">
                            ¥50,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62367" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            テルス45
                        </p>
                        <p class="item-price input">
                            ¥30,250
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62370" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ウラノス45
                        </p>
                        <p class="item-price input">
                            ¥35,750
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62373" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ノーム38
                        </p>
                        <p class="item-price input">
                            ¥33,000
                        </p>
                    </a>
                </li>
            </ul>
            
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02305" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ゴアテックスキャップ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥6,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02503" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            パーブライトキャップ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥6,820
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN62304" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            L1プラスガイドシェルグローブ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥9,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN12302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            シンプルトレッカーズグローブ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥4,620
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82324" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_accessory5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            トレッキングデュラブルウール<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥3,080
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82325" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_accessory6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            トレッキングミッドウエイトクルー<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥2,200
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    テント
                </span>
                <span>
                    tent
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NV22402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_tent1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンショット２
                        </p>
                        <p class="item-price input">
                            
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NV22404" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/modal6_tent2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンネスト２
                        </p>
                        <p class="item-price input">
                            
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    寝袋
                </span>
                <span>
                    sleeping bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBR42402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/moda6_sleeping1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ブルーフレイム-7
                        </p>
                        <p class="item-price input">
                            
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBR42403" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/moda6_sleeping2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ゴールドフレイム-1
                        </p>
                        <p class="item-price input">
                            
                        </p>
                    </a>
                </li>
            </ul>
            
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アンダーウェア
                </span>
                <span>
                    underwear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW62401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/moda6_under1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブドライクルー<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥5,280
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NU62402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/moda6_under2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブドライクルー<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥4,620
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW62403" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/moda6_under3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ドライトラウザーズ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥5,280
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB82206" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_6/moda6_under4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            オルタイムウォームトラウザーズ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥8,800
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
    </div>
</div>