<div class="yamaasobu_modal_content modal_10">
    <div class="modal-head">
        <p class="map-point-num input">
            10
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill10.png" alt="">
            <div class="map-point-people">
                <img src="<%= rootURL %>/assets/img/people/10-a.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            アルパインクライミング
        </p>
        <p class="situation_en zen_r">
            Alpine Climbing
        </p>
        <p class="map-posint-txt zen_r">
            アルパインクライミングは、山岳環境でのクライミング全般を指し、岩登り、氷壁、雪山技術を組み合わせた総合的な登山スタイルです。アルパインスタイルでは、必要な装備をすべて背負って数日間の登攀に挑みます。早朝出発（アルパインスタート）により、午後の悪天候を避けるのが基本戦略です。高度による影響（高山病）への対策も重要な要素となります。高い技術力と経験が要求されますが、山岳の核心部での達成感は格別です。段階的なスキルアップで、憧れの山岳世界に挑戦してみましょう。
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    レインウェア
                </span>
                <span>
                    rain wear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_rain1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クライムライトジャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥50,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12502" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_rain2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クライムライトジップパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥34,100
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クライムライトジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥50,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12502" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            クライムライトジップパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥34,100
                        </p>
                    </a>
                </li>
            </ul>
            
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NL72322" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディショングリッドフリースフルジップフーディ
                        </p>
                        <p class="item-price input">
                            ¥19,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NL72420" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディショングリッドフリースクルー
                        </p>
                        <p class="item-price input">
                            ¥18,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NL72323" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_outer3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディショングリッドフリースジップアップ
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12521" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_tops1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットフーディ
                        </p>
                        <p class="item-price input">
                            ¥17,050
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12522" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_tops2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットジップハイ
                        </p>
                        <p class="item-price input">
                            ¥15,400
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12523" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションS/Sドライドットクルー
                        </p>
                        <p class="item-price input">
                            ¥13,200
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12524" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットクルー
                        </p>
                        <p class="item-price input">
                            ¥12,100
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32525" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ビッグウォールパンツ
                        </p>
                        <p class="item-price input">
                            ¥28,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32420" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ビッグウォールライトパンツ
                        </p>
                        <p class="item-price input">
                            ¥22,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32301" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アルパインライトパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アルパインライトパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    シューズ
                </span>
                <span>
                    shoes
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02312" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_shoes1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            サミットブライトホーン
                        </p>
                        <p class="item-price input">
                            ¥39,930
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW02312" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_shoes2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            Wサミットブライトホーン
                        </p>
                        <p class="item-price input">
                            ¥39,930
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62355" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            コブラ65
                        </p>
                        <p class="item-price input">
                            ¥47,300
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62357" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ファントム50
                        </p>
                        <p class="item-price input">
                            ¥39,160
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62358" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ファントム38
                        </p>
                        <p class="item-price input">
                            ¥35,420
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62359" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ヴェルト27
                        </p>
                        <p class="item-price input">
                            ¥20,240
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN62202" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            インフェルノアプローチグローブ
                        </p>
                        <p class="item-price input">
                            ¥11,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM91603" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ヘルメットホルダー
                        </p>
                        <p class="item-price input">
                            ¥2,750
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82323" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アルパインデュラブルウール<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥3,960
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN32364" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スーパライトドライバッグ13L
                        </p>
                        <p class="item-price input">
                            ¥5,940
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN32365" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スーパライトドライバッグ8L
                        </p>
                        <p class="item-price input">
                            ¥5,280
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN32366" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スーパライトドライバッグ5L
                        </p>
                        <p class="item-price input">
                            ¥4,620
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    テント
                </span>
                <span>
                    tent
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NV22505" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_tent1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アサルト3FL
                        </p>
                        <p class="item-price input">
                            （価格情報なし）
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NV22506" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_tent2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アサルト2FL
                        </p>
                        <p class="item-price input">
                            （価格情報なし）
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    寝袋
                </span>
                <span>
                    sleeping bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBR42151" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_sleep1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            インフェルノ-29
                        </p>
                        <p class="item-price input">
                            （価格情報なし）
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBR42152" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_sleep2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            インフェルノ-18
                        </p>
                        <p class="item-price input">
                            （価格情報なし）
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アンダーウェア
                </span>
                <span>
                    underwear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NU12521" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_under1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットボクサーショーツ
                        </p>
                        <p class="item-price input">
                            ¥6,160
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32521" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_under2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットタイツ
                        </p>
                        <p class="item-price input">
                            ¥9,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW12521" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_under3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットブラ
                        </p>
                        <p class="item-price input">
                            ¥7,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW12520" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_10/modal10_under4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットビキニショーツ
                        </p>
                        <p class="item-price input">
                            ¥5,060
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
    </div>
</div>