<div class="yamaasobu_modal_content modal_4">
    <div class="modal-head">
        <p class="map-point-num input">
            04
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill4.png" alt="">
            <div class="map-point-people map-point-people1">
                <img src="<%= rootURL %>/assets/img/people/04-c.png" alt="">
            </div>
            <div class="map-point-people map-point-people2">
                <img src="<%= rootURL %>/assets/img/people/04-d.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            テント泊登山
        </p>
        <p class="situation_en zen_r">
            Tent Camping
        </p>
        <p class="map-posint-txt zen_r">
            テント泊登山は、必要な装備をすべて背負って山に入り、テントで一夜を過ごすスタイルです。日帰りでは味わえない山の静寂や満天の星空を楽しめるのが魅力。装備選びが重要で、軽量かつ機能的なテントや寝袋、調理器具が必要になります。初心者の方は、まず設営しやすい場所から始めて、徐々に技術を身につけていきましょう。適切な装備と計画で、山での特別な時間を安全に楽しむことができます。
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    レインウェア
                </span>
                <span>
                    rain wear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12470" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_rain1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">FL トレイルピークジャケット</p>
                        <p class="item-price input">¥36,300</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12471" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_rain2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">FL トレイルピークパンツ</p>
                        <p class="item-price input">¥25,300</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12374" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ストライクトレイルジャケット<br>(メンズ)</p>
                        <p class="item-price input">¥24,200</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12374" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ストライクトレイルジャケット<br>(レディース)</p>
                        <p class="item-price input">¥24,200</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12594" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">フリーランストライクジャケット<br>(ユニセックス)</p>
                        <p class="item-price input">¥25,300</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12375" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ストライクトレイルパンツ<br>(ユニセックス)</p>
                        <p class="item-price input">¥18,700</p>
                    </a>
                </li>
            </ul>
            
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP22370" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">インフィニティトレイルフーディ</p>
                        <p class="item-price input">¥24,200</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NY32371" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ベントリックストレイルジャケット</p>
                        <p class="item-price input">¥26,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP72479" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_outer3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">トレイルエマージェンシーフーディ</p>
                        <p class="item-price input">¥22,000</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP72490" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_outer4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">フリーランウィンドパーカ<br>(ユニセックス)</p>
                        <p class="item-price input">¥19,800</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12576" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_tops1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">HST S/L ハイパーベントクルー</p>
                        <p class="item-price input">¥12,100</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12577" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_tops2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">HST S/S ハイパーベントクルー</p>
                        <p class="item-price input">¥13,200</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12587" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">S/L ドライドットライトクルー</p>
                        <p class="item-price input">¥8,800</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12588" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">S/S ドライドットライトクルー</p>
                        <p class="item-price input">¥9,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12579" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_tops5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ブリーズレンジランフーディ<br>(レディース)</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12591" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_tops6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブフリーランボーダークルー<br>(ユニセックス)</p>
                        <p class="item-price input">¥7,480</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB42571" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">HST アビエイタータイツ</p>
                        <p class="item-price input">¥16,500</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32473" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ハイブリッドインフィニティトレイルパンツ</p>
                        <p class="item-price input">¥26,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB22573" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">エンデュリストレイルショート</p>
                        <p class="item-price input">¥14,300</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW22572" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">エンデュリストレイルショート<br>(レディース)</p>
                        <p class="item-price input">¥13,200</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB22591" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bottom5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">フリーランショーツ<br>(メンズ)</p>
                        <p class="item-price input">¥13,750</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW62481" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bottom6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">エンデュリスレーシングスカート<br>(レディース)</p>
                        <p class="item-price input">¥13,200</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    シューズ
                </span>
                <span>
                    shoes
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_shoes1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">サミットベクティブプロ3</p>
                        <p class="item-price input"></p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02502" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_shoes2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">サミットベクティブスカイ2</p>
                        <p class="item-price input"></p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02503" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_shoes3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ベクティブ エンデュリス4<br>（メンズ）</p>
                        <p class="item-price input">¥24,200</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW02402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_shoes4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">アルタメサ 500<br>（レディース）</p>
                        <p class="item-price input">¥22,000</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62510" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">HST ヒューム6</p>
                        <p class="item-price input">¥23,100</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62511" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">TR ロケット</p>
                        <p class="item-price input">¥27,500</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62512" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">TR10</p>
                        <p class="item-price input">¥24,970</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62513" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">TR6</p>
                        <p class="item-price input">¥23,100</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            トレイルピークキャップ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥6,050
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02575" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            GTDキャップ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥4,620
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN62307" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エンデュリストトレイルグローブ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥7,150
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82301" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            トレイルデュラブルウールクルー<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥2,530
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82400" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_accessory5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            トレイルベントクルー<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥2,640
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_4/modal4_accessory6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フリーランライトクルー<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥2,530
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アンダーウェア
                </span>
                <span>
                    underwear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <ul class="yamaasobu_modal_item-list">
                    <li>
                        <a href="https://www.goldwin.co.jp/ap/item/i/m/NU12380" target="_blank">
                            <div class="clothes-ph">
                                <img src="<%= rootURL %>/assets/img/modal_4/modal4_under1.jpg" alt="">
                            </div>
                            <p class="item-name zen_b">
                                エンデュランスボクサーショーツ<br>（メンズ）
                            </p>
                            <p class="item-price input">
                                ¥6,600
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW62480" target="_blank">
                            <div class="clothes-ph">
                                <img src="<%= rootURL %>/assets/img/modal_4/modal4_under2.jpg" alt="">
                            </div>
                            <p class="item-name zen_b">
                                エンデュランスアンダーショーツ<br>（レディース）
                            </p>
                            <p class="item-price input">
                                ¥6,600
                            </p>
                        </a>
                    </li>
                </ul>
                
                
            </ul>
            
        </div>
        
    </div>
</div>