<div class="yamaasobu_modal_content modal_9">
    <div class="modal-head">
        <p class="map-point-num input">
            09
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill9.png" alt="">
            <div class="map-point-people map-point-people1">
                <img src="<%= rootURL %>/assets/img/people/09-a.png" alt="">
            </div>
            <div class="map-point-people map-point-people2">
                <img src="<%= rootURL %>/assets/img/people/09-b.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            沢登り
        </p>
        <p class="situation_en zen_r">
            Stream Climbing
        </p>
        <p class="map-posint-txt zen_r">
            沢登りは、渓流沿いを遡行する日本独特の登山スタイルです。滝や釜（滝壺）、ゴルジュ（両岸が迫った狭い箇所）など、水の作り出した地形が特徴的です。ナメ（なめらかな岩盤）やスラブ滝など、水と岩が織りなす美しい景観を楽しめます。通過困難な箇所では高巻き（迂回）技術も必要になります。沢靴やヘルメットなど専用装備が必要で、水温や増水リスクへの対策も重要です。経験豊富なガイドと一緒に、清涼感あふれる沢の世界を体験してみましょう。
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    レインウェア
                </span>
                <span>
                    rain wear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_rain1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルジャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥30,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_rain2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥18,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12401" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥30,800
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW12402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            フューチャーライトドリズルパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥18,700
                        </p>
                    </a>
                </li>
            </ul>
            
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NR12302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ラッスルキャノピーシャツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥18,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NRW12302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ラッスルキャノピーシャツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥18,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NYW82206" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_outer3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ペントリックスジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥28,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NY82204" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_outer4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ペントリックスベスト<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥25,850
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NL72404" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_outer5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンバーサマイクロジャケット<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥14,850
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NLW72404" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_outer6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンバーサマイクロジャケット<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥14,850
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12522" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_tops1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットジップハイ
                        </p>
                        <p class="item-price input">
                            ¥15,400
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12523" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_tops2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションS/Sドライドットクルー
                        </p>
                        <p class="item-price input">
                            ¥13,200
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12524" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットクルー
                        </p>
                        <p class="item-price input">
                            ¥12,100
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12201" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディージップアップ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥9,240
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12201" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュドライスリーディージップアップ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥9,240
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12202" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ショートスリーブフラッシュドライスリーディージップアップ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥8,140
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32301" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アルパインライトパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32402" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            アルパインライトパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            パープパンツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            パープパンツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥16,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB42212" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            パープショーツ<br>（メンズ）
                        </p>
                        <p class="item-price input">
                            ¥11,000
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW42501" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            マウンテンカラーショーツ<br>（レディース）
                        </p>
                        <p class="item-price input">
                            ¥10,450
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62358" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ファントム38
                        </p>
                        <p class="item-price input">
                            ¥35,420
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM62359" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ヴェルト27
                        </p>
                        <p class="item-price input">
                            ¥20,240
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN32363" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スーパーライトドライバッグ18L
                        </p>
                        <p class="item-price input">
                            ¥6,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN32364" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スーパーライトドライバッグ13L
                        </p>
                        <p class="item-price input">
                            ¥5,940
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN42302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ドライドットキャップ<br>（ユニセックス）
                        </p>
                        <p class="item-price input">
                            ¥5,500
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM92000" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ヘルメットバッグ
                        </p>
                        <p class="item-price input">
                            ¥5,060
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM91603" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ヘルメットホルダー
                        </p>
                        <p class="item-price input">
                            ¥2,750
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN32365" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スーパーライトドライバッグ8L
                        </p>
                        <p class="item-price input">
                            ¥5,280
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN32366" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_accessory5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スーパーライトドライバッグ5L
                        </p>
                        <p class="item-price input">
                            ¥4,620
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN32360" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_accessory6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            パーテックス スタッフバッグ3L
                        </p>
                        <p class="item-price input">
                            ¥2,200
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    寝袋
                </span>
                <span>
                    sleeping bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBR42404" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_sleep1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            シルバーフレイム3
                        </p>
                        <p class="item-price input">
                            
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBR42405" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_sleep2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ホワイトフレイム13
                        </p>
                        <p class="item-price input">
                            
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
        
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アンダーウェア
                </span>
                <span>
                    underwear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NU12521" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_under1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットボクサーショーツ
                        </p>
                        <p class="item-price input">
                            ¥6,160
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32521" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_under2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットタイツ
                        </p>
                        <p class="item-price input">
                            ¥9,900
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW12521" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_under3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットブラ
                        </p>
                        <p class="item-price input">
                            ¥7,700
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NUW12520" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_9/modal9_under4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            エクスペディションドライドットビキニショーツ
                        </p>
                        <p class="item-price input">
                            ¥5,060
                        </p>
                    </a>
                </li>
            </ul>
            
        </div>
        
    </div>
</div>