<div class="yamaasobu_modal_content modal_1">
    <div class="modal-head">
        <p class="map-point-num input">
            01
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill1.png" alt="">
            <div class="map-point-people map-point-people2">
                <img src="<%= rootURL %>/assets/img/people/01-b.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            低山ハイク
        </p>
        <p class="situation_en zen_r">
            Low-Elevation Hiking
        </p>
        <p class="map-posint-txt zen_r">
            低山ハイクは、標高が比較的低い山々を歩くアクティビティで、登山初心者から経験者まで幅広く楽しめるのが魅力です。一般的に標高500m〜1,000m以下の山が低山と呼ばれ、高山に比べて気軽に日帰りで楽しめるのが特徴です。低山は高山と違って綿密な登山計画がなくても気軽に出かけられ、本格的な登山装備がなくても楽しめます。子ども連れでも安心して歩けるコースが多く、家族みんなで自然を満喫できるのも魅力のひとつ。
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    レインウェア
                </span>
                <span>
                    rain wear
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12450" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_rain1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">スープジャケット<br>（メンズ）</p>
                        <p class="item-price input">¥33,000</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12550" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_rain2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ドットショットジャケット<br>（ユニセックス）</p>
                        <p class="item-price input">¥24,200</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12552" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_rain3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">トレニアンジャケット<br>（ユニセックス）</p>
                        <p class="item-price input">¥31,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12531" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_rain4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">アクセスパンチョ<br>（ユニセックス）</p>
                        <p class="item-price input">¥20,900</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12330" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_rain5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">タグアンパンチョ<br>（ユニセックス）</p>
                        <p class="item-price input">¥26,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP12311" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_rain6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">タプトポンチョ<br>（ユニセックス）</p>
                        <p class="item-price input">¥30,800</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP72230" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_outer1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">コンパクトジャケット<br>（メンズ）</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW72230" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_outer2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">コンパクトジャケット<br>（レディース）</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP22333" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_outer3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">コンパクトアノラック<br>（メンズ）</p>
                        <p class="item-price input">¥14,300</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW22430" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_outer4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートコンパクトジャケット<br>（レディース）</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NP22532" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_outer5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">TNFビーフリージャケット<br>（メンズ）</p>
                        <p class="item-price input">¥19,800</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NPW22532" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_outer6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">TNFビーフリージャケット<br>（レディース）</p>
                        <p class="item-price input">¥19,800</p>
                    </a>
                </li>
            </ul>
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12449" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_tops1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブTNFバグフリーティー<br>（メンズ）</p>
                        <p class="item-price input">¥6,930</p>
                    </a>
                </li>
                <li>
                    
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12449" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_tops2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブTNFバグフリーティー<br>（レディース）</p>
                        <p class="item-price input">¥6,930</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12450" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_tops3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ロングスリーブTNFバグフリーティー<br>（メンズ）</p>
                        <p class="item-price input">¥7,700</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12450" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_tops4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ロングスリーブTNFバグフリーティー<br>（レディース）</p>
                        <p class="item-price input">¥7,700</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NT12447" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_tops5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブアリーポケットティー<br>（メンズ）</p>
                        <p class="item-price input">¥7,150</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NTW12447" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_tops6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ショートスリーブアリーポケットティー<br>（レディース）</p>
                        <p class="item-price input">¥7,150</p>
                    </a>
                </li>
            </ul>            
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    ボトムス
                </span>
                <span>
                    bottoms
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32530" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bottom1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">コンパクトパンツ<br>(メンズ)</p>
                        <p class="item-price input">¥15,400</p>
                    </a>
                </li>
                <li>
                    
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32550" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bottom2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">バーサタイルパンツ<br>(ユニセックス)</p>
                        <p class="item-price input">¥14,300</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB32532" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bottom3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ジップオフカーゴパンツ<br>(メンズ)</p>
                        <p class="item-price input">¥19,800</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW32532" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bottom4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ジップオフカーゴパンツ<br>(レディース)</p>
                        <p class="item-price input">¥19,800</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NB42335" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bottom5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">バーサタイルショーツ<br>(メンズ)</p>
                        <p class="item-price input">¥6,930</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NBW42335" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bottom6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">バーサタイルショーツ<br>(レディース)</p>
                        <p class="item-price input">¥6,930</p>
                    </a>
                </li>
            </ul>
            
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    シューズ
                </span>
                <span>
                    shoes
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02542" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_shoes1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ヘッジホッグ RVST<br>(ユニセックス)</p>
                        <p class="item-price input">¥27,500</p>
                    </a>
                </li>
                <li>
                    
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF52542" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_shoes2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">グラバルスリップオン 2<br>(ユニセックス)</p>
                        <p class="item-price input">¥16,500</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NF02344" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_shoes3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ベクティブタラパルフューチャーライト<br>(メンズ)</p>
                        <p class="item-price input">¥22,000</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NFW02344" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_shoes4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ベクティブタラパルフューチャーライト<br>(レディース)</p>
                        <p class="item-price input">¥22,000</p>
                    </a>
                </li>
            </ul>
            
        </div>
        

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    バッグ
                </span>
                <span>
                    bag
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM72302" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bag1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ホットショット</p>
                        <p class="item-price input">¥22,770</p>
                    </a>
                </li>
                <li>
                    <div class="item-point zen_m">
                        <p>軽量・コンパクト</p>
                    </div>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM72303" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bag2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">シングルショット</p>
                        <p class="item-price input">¥18,920</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM72351" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bag3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ジェミニ22</p>
                        <p class="item-price input">¥19,250</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NM82461" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_bag4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ピボター</p>
                        <p class="item-price input">¥17,600</p>
                    </a>
                </li>
            </ul>
            
        </div>
        

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アクセサリー
                </span>
                <span>
                    accessory
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02336" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_accessory1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ホライズンハット<br>(ユニセックス)</p>
                        <p class="item-price input">¥6,600</p>
                    </a>
                </li>
                <li>
                    <div class="item-point zen_m">
                        <p>軽量・コンパクト</p>
                    </div>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02533" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_accessory2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ディライトキャップ<br>(ユニセックス)</p>
                        <p class="item-price input">¥6,050</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02532" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_accessory3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">キュリオシティクエストハット<br>(ユニセックス)</p>
                        <p class="item-price input">¥8,800</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN02334" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_accessory4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">スクエアロゴキャップ<br>(ユニセックス)</p>
                        <p class="item-price input">¥5,500</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82502" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_accessory5.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">フリーラン 2P クルー<br>(ユニセックス)</p>
                        <p class="item-price input">¥2,970</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.goldwin.co.jp/ap/item/i/m/NN82303" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/modal1_accessory6.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">ランニングアンイーブンデザイン3Pアンクル<br>(ユニセックス)</p>
                        <p class="item-price input">¥2,310</p>
                    </a>
                </li>
            </ul>
            
        </div>
        
    </div>
</div>