<div class="yamaasobu_modal_content modal_6">
    <div class="modal-head">
        <p class="map-point-num input">
            06
        </p>
        <div class="map-point-ill">
            <img class="point-img" src="<%= rootURL %>/assets/img/map-point/map-point-ill6.png" alt="">
            <div class="map-point-people map-point-people1">
                <img src="<%= rootURL %>/assets/img/people/06-c.png" alt="">
            </div>
            <div class="map-point-people map-point-people2">
                <img src="<%= rootURL %>/assets/img/people/06-d.png" alt="">
            </div>
        </div>
        <p class="situation_ja zen_b">
            テント泊登山
        </p>
        <p class="situation_en zen_r">
            Tent night mountain climbing
        </p>
        <p class="map-posint-txt zen_r">
            こちらに説明テキストが入ります。こちらに説明テキストが入ります。こちらに説明テキストが入ります。こちらに説明テキストが入ります。こちらに説明テキストが入ります。        
        </p>
    </div>

    <div class="yamaasobu_modal_inner">
        <div class="reccomend_item-line">
            <div class="reccomend_item-inner">
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
                <div class="reccomend_item">
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                    <p>おすすめの商品</p>
                    <div class="arrow"><img src="<%= rootURL %>/assets/img/arrow.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    アウター
                </span>
                <span>
                    outer
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/outer_1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スワローテイルフーディ<br>
                            （レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/outer_2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スワローテイルフーディ<br>
                            （レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/outer_3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スワローテイルフーディ<br>
                            （レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/outer_4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            スワローテイルフーディ<br>
                            （レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="items-list-wrap">
            <p class="clothes-kind">
                <span>
                    トップス
                </span>
                <span>
                    tops
                </span>
            </p>
            <ul class="yamaasobu_modal_item-list">
                <li>
                    <a href="" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/tops_1.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュ<br>ドライスリーディー<br>
                            クルー（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/tops_2.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュ<br>ドライスリーディー<br>
                            クルー（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/tops_3.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュ<br>ドライスリーディー<br>
                            クルー（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <div class="clothes-ph">
                            <img src="<%= rootURL %>/assets/img/modal_1/tops_4.jpg" alt="">
                        </div>
                        <p class="item-name zen_b">
                            ロングスリーブフラッシュ<br>ドライスリーディー<br>
                            クルー（レディース）
                        </p>
                        <p class="item-price input">
                            ¥17,600
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
</div>