<div class="opening-wrapper">
    <div class="opening">
        <div class="op-inner">
            <p class="op-ja zen_black">
                <span class="upin">初めての人も知識のある人も</span><br class="sp"><span class="red">｢</span><span class="red">山</span><span class="red">で</span><span class="red">遊</span><span class="red">ぶ</span><span class="red">｣</span><span class="upin upin2">がもっと楽しくなる｡</span>
            </p>

            <p class="op-en zen_b">
                <span class="upin">Whether you're a beginner or an experienced hiker,</span><br class="sp">
                <span class="red">"</span><span class="red">p</span><span class="red">l</span><span class="red">a</span><span class="red">y</span><span class="red">i</span><span class="red">n</span><span class="red">g</span> <span class="red">i</span><span class="red">n</span> <span class="red">t</span><span class="red">h</span><span class="red">e</span> <span class="red">m</span><span class="red">o</span><span class="red">u</span><span class="red">n</span><span class="red">t</span><span class="red">a</span><span class="red">i</span><span class="red">n</span><span class="red">s</span><span class="red">"</span><span class="upin upin2">will be more fun.</span>
    
            </p>
            <div class="op-map-wrap">
                <img class="op-map" src="<%= rootURL %>/assets/img/opening/op-map.png" alt="">
                <div class="op-sun">
                    <img src="<%= rootURL %>/assets/img/opening/op-sun.png" alt="">
                </div>
                <div class="op-rain">
                    <img src="<%= rootURL %>/assets/img/opening/op-rain.png" alt="">
                </div>
                <div class="op-cloud">
                    <img src="<%= rootURL %>/assets/img/opening/cloud.png" alt="">
                </div>
                <div class="op-people">
                    <img src="<%= rootURL %>/assets/img/opening/op-people.png" alt="">
                </div>
                <div class="op-people2">
                    <img src="<%= rootURL %>/assets/img/opening/op-people_2.png" alt="">
                </div>

            </div>
        </div>
    </div>
</div>